<!DOCTYPE html>
<html>
<head>
  <title>Webrickroll</title>
  <%= stylesheet_link_tag    "webrickroll/application", :media => "all" %>
  <%= javascript_include_tag "webrickroll/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
